#Api2

# Global Options
########################################################################

# Override a Gtk theme to name specified.
#Theme = "Adwaita-dark"

# Override a Gtk icon theme to name specified.
#IconTheme = "Adwaita"

# Set default icon search path
Set ImagePath = "icons/misc"

# Set a hint for bar thickness (CSS should use this is calculate sizes).
Set ThicknessHint = "20px"

# Set default terminal
Set Term = "alacritty"

# Display minimized windows on taskbars across all outputs
# DisownMinimized = true

TriggerAction "SIGRTMIN+1", SwitcherEvent("forward");
TriggerAction "SIGRTMIN+2", SwitcherEvent("back");

# Window Placer
placer {
  xorigin = 5  # place the first window at X% from the left
  yorigin = 5  # place the first window at X% from the top
  xstep = 5    # step by X% of desktop horizontally
  ystep = 5    # step by X% of desktop vertically
  children = true
}

# Task Switcher
#switcher {
#  interval = 700
#  icons = true
#  labels = false
#  cols = 5
#}

function("SfwbarInit") {
#  Config "PopUp 'XVolumeWindow' { AutoClose = true }"
  SetLayer "top"
  SetBarSize "100%"
  SetMirror "*"
}

include("winops.widget")

# Panel layout
########################################################################
#
# +---+---+---+---+----------------------------------+--------+--------+
# | 1 | 2 | 3 | 4 |              5                   |   6    |   7    |
# +---+---+---+---+----------------------------------+--------+--------+
#
# 1: Start menu
# 2: Show Desktop
# 3: Terminal
# 4: Browser
# 5: Taskbar
# 6: Systray
# 7: Time/Date

layout {
  css = "* { min-height: 20px }"
  #bar_id = "bar-0" # Invalid property in a widget declaration ???

  #mirror = "*"
  #layer = "top"
  #sensor = 300
  #monitor = "eDP-1"

  # 1st button: start menu
  # ====================================================================
  include("startmenu.widget")
  
  # 2nd button: show desktop
  # ====================================================================
  include("showdesktop.widget")
  
  # 3rd Button: Default Terminal
  # ====================================================================
  # see `set Term` above
  button {
    style = "launcher"
    value = GetTerm();
    tooltip = "Terminal"
    action = ExecTerm();
  }

  # 4th button: Browser Firefox
  # ====================================================================
  button {
    style = "launcher"
    value = "firefox"
    tooltip = "Fireforx Browser"
    action = Exec("firefox");
  }

  # Pager - Not working in Morph because it's based on sway's IPC which 
  # currently not supported.
  # ====================================================================
  # Uncomment the below section if you would like a pager
  #  pager {
  #    style = "pager"
  #    rows = 1
  #    preview = true
  #  }

  # Taskbar
  # ====================================================================
  taskbar {
    style = "taskbar"
    rows = 1
    # stretch horizontally
    css = "* { -GtkWidget-hexpand: true; -FlowGrid-column-homogeneous: true; }"
    icons = true
    labels = true
    sort = false
    filter = workspace

    #group = pager;  # remove this line if you don't want a multi-desktop taskbar
    #group.icons = true;
    #group.labels = true;

    action[RightClick] = Menu("winops");
    action[MiddleClick] = Close();
    #action[Drag] = Focus(); # invalid action index ???
  }

  # CPU & Memory
  # ====================================================================
  include("cpu.widget")
  include("memory.widget")

  # Systray for applets
  # ====================================================================
  tray {
    rows = 1
    css = "grid { -GtkWidget-column-homogeneous: false; }"
  }

  # Battery
  # ====================================================================
  include("battery-svg.widget")

  #widget "battery.widget" {
  #  # specify a battery device name or leave out to autodetect
  #  device = 'BAT0';
  #  simple_icon = False;
  #}

  #widget "idleinhibit.widget" {
  #  icon_active = "icons/misc/lock-symbolic";
  #  icon_inactive = "icons/misc/unlock-symbolic";
  #}

  #widget "rfkill-wifi.widget"
  #widget "rfkill-bt.widget"
  
  #widget "upower.widget"

  #widget "backlight.widget" {
  #  step = 5;
  #  max_brightness = 100;
  #  min_brightness = 30;
  #}

  #widget "mpd.widget" {
  #  icon_play = "media-playback-start";
  #  icon_stop = "media-playback-stop";
  #  icon_pause = "media-playback-pause";
  #  icon_ffwd = "media-seek-forward";
  #  icon_back = "media-seek-backward";
  #  icon_repeat = "media-playlist-repeat";
  #  icon_shuffle = "media-playlist-shuffle";
  #  icon_browse = "view-list";
  #}

  # Volume
  # ====================================================================
  # Select pulse-module or alsa-module based on your sound configuration
  #include("alsa-module.widget")
  include("pulse-module.widget")
  
  #widget "volume.widget" {
  #  # if simple_icon is false, the widget will render a circular gauge icon with
  #  # a device form indicator.
  #  simple_icon = False; 
  #  volume_thresholds = [80, 50, 0];
  #  volume_icons = ["audio-volume-high", "audio-volume-medium", "audio-volume-low"];
  #  volume_muted = "audio-volume-muted";
  #}

  # Bluetooth
  # ====================================================================
  include("bluez.widget")
  
  #widget "bluez.widget" {
  #  scan_timeout = 20;
  #}

  # Network
  # ====================================================================
  include("network-module.widget")
  #widget "network.widget"

  # Notification Center
  # ====================================================================
  #widget "ncenter.widget" {
  #  # notification center is disabled by default to avoid conflict with other
  #  # desktop notification handlers.
  #  disable = true;
  #}

  # Clock and Date
  # ====================================================================
  grid {
    css = "* { -GtkWidget-direction: bottom; }"
    label {
      value = Time("%k:%M")
      style ="clock"
    }
    label {
      value = Time("%x")
      style ="clock"
    }
  }

  #widget "clock.widget" {
  #  disable = false;
  #  time_format = "%H:%M"
  #  tooltip_format = "%H:%M\n%x"
  #  week_starts_on_sunday = false
  #  reset_on_popup = false
  #}

  # Session (logout, suspend, shutdown ....)
  # ====================================================================
  #widget "session.widget" {
  #  # actions are specified as an array of ["icon", "title", "command"]
  #  session_actions = [
  #    ["hibernate", "Hibernate", "systemctl hibernate"],
  #    ["suspend", "Suspend", "systemctl suspend"],
  #    ["system-lock-screen", "Lock", "loginctl lock-session"],
  #    ["system-log-out", "Logout", "loginctl terminate-user $USER"],
  #    ["system-reboot", "Reboot", "systemctl reboot"],
  #    ["system-shutdown", "Shutdown", "systemctl poweroff"]
  #  ];
  #}
}

#CSS
#hidden {
  -GtkWidget-visible: false;
}

button,
button image {
  outline-style: none;
  box-shadow: none;
  background-image: none;
  border-image: none;
}

button#startmenu {
  border: none;
}

label {
  font: 14px Sans;
}

button#module {
  border: none;
  padding: 3px;
  margin: 0px;
  -GtkWidget-vexpand: true;
}

button#module image {
  min-height: 16px;
  min-width: 16px;
  padding: 0px;
  margin: 0px;
  -GtkWidget-valign: center;
  -GtkWidget-vexpand: true;
}

button#taskbar_normal,
button#taskbar_active,
button#taskbar_normal:hover {
  border-radius: 3px;
  border-width: 0px;
  -GtkWidget-hexpand: false;
}

grid#taskbar > :not(:last-child) button#taskbar_normal:hover,
grid#taskbar > :not(:last-child) button#taskbar_active,
grid#taskbar > :not(:last-child) button#taskbar_normal {
  border-radius: 0px;
  border-right: 1px solid alpha(@theme_fg_color,0.15);
}
button#taskbar_active {
  background-color: rgba(199,227,255,0.6);
}

button#taskbar_normal:hover {
  background-color: rgba(213,213,213,0.6);
}

button#taskbar_normal grid,
button#taskbar_active grid,
button#taskbar_normal:hover grid {
  -GtkWidget-valign: center;
}

button#taskbar_normal image,
button#taskbar_active image,
button#taskbar_normal:hover image {
  min-width: 24px;
  min-height: 24px;
  padding-right: 6px;
}

button#taskbar_normal label,
button#taskbar_active label,
button#taskbar_normal:hover label {
}

button#tray_active,
button#tray_passive,
button#tray_attention {
  margin: 0px;
  border: none;
  padding: 0px;
}

button#tray_active image,
button#tray_passive image,
button#tray_attention image {
  -GtkWidget-valign: center;
  -GtkWidget-vexpand: true;
  min-height: 16px;
  min-width: 16px;
  padding: 3px;
  margin: 0px;
  border: none;
}

grid#pager {
  border-radius: 3px;
  border-color: @theme_fg_color;
  border-style: solid;
  border-width: 1px;
  margin: 2px;
  padding: 0px;
}

button#pager_normal,
button#pager_visible,
button#pager_focused {
  border-radius: 5px;
  border: none;
  outline: 0px;
  margin-right: 2px;
  margin-left: 2px;
  padding: 0px;
  font: 0.3cm Sans;
  -GtkWidget-halign: center;
  -GtkWidget-valign: center;
}

button#pager_focused {
  background-color: rgba(199,227,255,0.6);
}

button#pager_preview {
  border-radius: 0;
  border-color: #000000;
  border-width: 0.25mm;
  color: #777777;
  min-width: 5cm;
  min-height: 2.8125cm;
}

#menu_item,
#menu_item image,
#menu_item label {
  -GtkWidget-halign: start;
}

#menu_item image {
  min-width: 16px;
  min-height: 16px;
  padding-right: 2px;
}

label#clock {
  padding-left: 2px;
  padding-right: 2px;
}

chart#cpu_chart {
  background: rgba(127,127,127,0.3);
  min-width: 9px;
  -GtkWidget-vexpand: true;
  margin: 2px;
  border: 1px solid @theme_fg_color;
  color: red;
}

progressbar#memory {
  -GtkWidget-direction: top;
  -GtkWidget-vexpand: true;
  min-width: 9px;
  border: 1px solid @theme_fg_color;
  margin: 2px;
}

progressbar#memory trough {
  min-height: 2px;
  min-width: 9px;
  border: none;
  border-radius: 0px;
  background: rgba(127,127,127,0.3);
}

progressbar#memory progress {
  -GtkWidget-hexpand: true;
  min-width: 9px;
  border-radius: 0px;
  border: none;
  margin: 0px;
  background-color: alpha(green,0.9);
}

grid#switcher_active image,
grid#switcher_active {
  min-width: 50px;
  min-height: 50px;
  padding: 5px;
  background-color: #bbddff;
  border-radius: 5px;
  -GtkWidget-hexpand: true;
}

grid#switcher_normal image,
grid#switcher_normal {
  min-width: 50px;
  min-height: 50px;
  padding: 5px;
  -GtkWidget-direction: right;
  -GtkWidget-hexpand: true;
}

window#switcher { 
  border: 1px solid @borders;
  border-radius: 6px; 
  padding: 60px; 
  -GtkWidget-hexpand: true;
}

grid#switcher { 
  border-radius: 5px;
  padding: 5px;
  -GtkWidget-hexpand: true;
}

label#sway_lang {
  margin-left: 3px;
  margin-right: 5px;
}
